.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px var(--primary-10) solid;
}

.collapse_btn {
  background: var(--primary-10);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
}

.default_position {
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}
.rotated {
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

.title {
  margin-left: 1rem;
  font-size: 16px;
}


